<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="card" style="width: 18rem;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCXqGW1jXcaehLM9lUzvgD6uDujoNROzQM6yCorgMM&s" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sombrero de Paja</h5>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://i.ebayimg.com/thumbs/images/g/deAAAOSwfF5i19BM/s-l300.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">Camisa Luffy</h5>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 350px; margin-top: -700px;">
    <img src="https://i.ebayimg.com/thumbs/images/g/deAAAOSwfF5i19BM/s-l300.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">Camisa Luffy</h5>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;margin-left: 350px;">
    <img src="https://i.ebayimg.com/thumbs/images/g/deAAAOSwfF5i19BM/s-l300.jpg" alt="">
    <div class="card-body">
      <h5 class="card-title">Camisa Luffy</h5>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  