<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" >
  <div class="card text-start">
    <img class="card-img-top" src="https://i.pinimg.com/736x/e9/91/80/e991804378163190adbd288a473edc85.jpg" alt="Title" style="height: 100px  ;width: 100px">
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p class="card-text">BIENVENIDO</p>
    </div>
  </div>


